body{
    background-color: #9dc5c3;
    background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%);
}
/* Creating Animations */




.show{
    display: inline-flexbox;
}
.slider{
    display: flex;
    justify-content: center;
}

#darkMode{
   
    background-color:black;
    border-radius: 100px;
    color: white;
}
.darkMode{
    background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #434343 100%);
}
.lightMode{
    background-color: #9dc5c3;
    background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%);
}
#mode{
    display: flex;
justify-content: right;
}
.Control{
    background-color:black;
    font-weight: bolder;
    color: honeydew;
    
}